@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

.options {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    background-color: variables.$secondary-color-ice;

    &__heading, &__subheading {
        text-transform: capitalize;
    }

    &__heading {
        font-size: 30px;
        font-weight: bolder;

        color: variables.$primary-color-sage;

        padding-top: 2rem;
    }

    &__subheading {
        font-size: 18px;
        font-weight: 100;
        color: variables.$primary-color-drab;

        padding-bottom: 3rem;
    }

    &__list {
        list-style-type: none;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        width: 90%;

        background-color: variables.$typography-color-snow;

        border-radius: 1rem;

        margin: 0 auto;
    }

    &__item {
        height: 75px;
        width: 100%;

        padding: 0 1.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            border-bottom: 1px solid variables.$secondary-color-fossil;
        }
    }

    &__category {
        font-size: 18px;
        font-weight: bold;

        text-transform: uppercase;

        color: variables.$typography-color-onyx;
    }

    &__slider {
        background-color: variables.$secondary-color-fossil;

        display: flex;

        width: 60px;
        height: 30px;

        border-radius: 1rem;

        transition: background-color 0.5s ease;

        &::after {
            content: '';
            height: 30px;
            width: 30px;

            position: relative;

            transition: background-color 0.5s ease, transform 0.5s ease;

            background-color: variables.$typography-color-snow;

            box-shadow: variables.$primary-shadow;

            border-radius: 50%;
        }
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked + &__slider::after {
        transform: translateX(30px);
        background-color: white;
    }

    &__checkbox:checked + &__slider {
        background-color: variables.$primary-color-sage;
    }

    &__darkmode, &__version {
        text-transform: capitalize;
    }

    &__darkmode {
        width: 180px;
        height: 50px;

        margin-top: 5rem;

        border-radius: 2rem;
        
        border: 1px solid variables.$primary-color-drab;

        background-color: variables.$secondary-color-ice;

        font-size: 18px;
    }

    &__version {
        margin: 2rem 0;

        font-size: 12px;

        color: variables.$typography-color-slate;
    }
}