$primary-font: 'Verdana';

$primary-heading: 30px;
$secondary-heading: 24pt;
$section-header: 18pt;
$sub-title: 18pt;
$card-title: 15pt;
$card-copy-small: 15pt;
$body-copy-small: 14pt;
$message-time-stamp: 12pt;
$button-label-dark: 14pt;
$button-label-light: 14px;
$card-subtitle: 10px;

$primary-color-sage: #87BCBF;
$primary-color-rust: #D97D54;
$primary-color-drab: #324755;
$primary-color-danger: #D95454;

$secondary-color-ice: #F0F3F4;
$secondary-color-fossil: #C8D1D3;
$secondary-color-sand: #B9B0A2;

$typography-color-onyx: #1B1C20;
$typography-color-slate: #6E8CA0;
$typography-color-snow: #FFFFFF;